<div class="bt-parallax-wrapper">
  <section class="parallax-section">
      <div class="parallax-element" data="{{ image_url }}">
        <{{tag }} class="parallax-title {{ classes }}" >{{ text }}</{{tag }}>
      </div>
  </section>
</div>
